.diagram-container {
  width: 100%;
  display: flex;
  overflow: auto;
  border: solid 2px #bababa;
  height: 100vh;
  background-size: 50px 50px;
  background-color: #f5f6fa;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      #dcdde1 25%,
      #dcdde1 26%,
      transparent 27%,
      transparent 74%,
      #dcdde1 75%,
      #dcdde1 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      #dcdde1 25%,
      #dcdde1 26%,
      transparent 27%,
      transparent 74%,
      #dcdde1 75%,
      #dcdde1 76%,
      transparent 77%,
      transparent
    );
}